body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 80%
}

a {
    color: #00B7FF;
}

div.search_result > img {
    width: 60%;
    float: left;
    padding: 10px;
}
